annotated-types
blis
brotlicffi
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
cloudpickle
colorama
confection
cymem
en_core_web_lg
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
mkl-service
mkl_fft
mkl_random
murmurhash
numpy
packaging
preshed
pycparser
pydantic
pydantic_core
Pygments
PySocks
requests
rich
ruamel_yaml_conda
setuptools
shellingham
smart_open
spacy
spacy-legacy
spacy-loggers
srsly
thinc
tqdm
typer
typer-slim
typing-inspection
typing_extensions
ujson
urllib3
wasabi
weasel
wheel
win_inet_pton
wrapt
wrapt 