absl-py
accelerate
altair
annotated-types
anyio
asttokens
astunparse
attrs
beautifulsoup4
blinker
build
cachetools
certifi
charset-normalizer
click
cloudpickle
colorama
comm
contourpy
cycler
debugpy
decorator
distro
et_xmlfile
executing
fastapi
filelock
Flask
flatbuffers
fonttools
frozendict
fsspec
gast
gitdb
GitPython
google-pasta
greenlet
grpcio
gym
gym-notices
h11
h5py
httpcore
httpx
huggingface-hub
idna
importlib-metadata
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonpatch
jsonpickle
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
keras
kiwisolver
langchain
langchain-core
langchain-text-splitters
langsmith
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml_dtypes
mpmath
multitasking
namex
narwhals
nest-asyncio
networkx
nltk
numpy
openai
openpyxl
opt_einsum
optree
orjson
packaging
pandas
parso
peewee
Pillow
platformdirs
plotly
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pyparsing
pyproject_hooks
python-dateutil
python-louvain
pytz
pyvis
pywin32
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt
rich
rpds-py
safetensors
scikit-learn
scipy
seaborn
sentence-transformers
setuptools
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
termcolor
threadpoolctl
tokenizers
toml
toolz
torch
tornado
touch
tqdm
traitlets
transformers
typing-inspection
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
validators
values
watchdog
wcwidth
Werkzeug
wheel
widgetsnbextension
wrapt
yfinance
zipp
zstandard
